# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Environment variables
.env

# Python version manager
.python-version

# Dependency and lock files
uv.lock
pyproject.toml

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
*.whl
*.manifest
*.spec